[data-theme="light"] {
           --bg-color: #F8F8FF;
           --font-color: #292A2D;
}

[data-theme="dark"] {
            --bg-color: #1C1C20;
            --font-color: #F8F9FE;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

.splashArea {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    flex-direction: column;
}

.splashArea img {
    height: 300px;
    width: 300px;
}


.fade-in {
    opacity: 0;
    animation: fadeIn 0.75s ease-in-out forwards;
}

/* Keyframes for the fadeIn animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fade-out {
  opacity: 1;
  animation: fadeOut 0.75s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#app-area {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.progress-container {
  position: relative;           /* Needed for .progress-bar to be absolute */
  width: 240px;
  height: 12px;
  background-color: #eaebed;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; /* full width — but transform controls visibility */
  background-color: #2B6747;
  transform: translateX(-100%); /* Initially hidden */
  transition: transform 1s ease; /* Smooth animation */
  border-radius: 10px;
}

@media (max-width: 575px) {
  .splashArea img {
    height: 50vw;
    width: 50vw;
  }
}
@media (display-mode: standalone) {
  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
  }

  body {
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .progress-container{
    display: none;
  }
}